.flex {display:flex;}
.flex-wrap {flex-wrap:wrap;}
.flex-no-shrink {flex-shrink:0;}
.flex-no-grow {flex-grow:0;}
.flex-column {flex-direction:column;}
.flex-justify-start {justify-content:flex-start;}
.flex-justify-end {justify-content:flex-end;}
.flex-justify-center {justify-content:center;}
.flex-justify-space-between {justify-content:space-between;}
.flex-justify-space-evenly {justify-content:space-evenly;}
.flex-align-start {align-items:flex-start;}
.flex-align-end {align-items:flex-end;}
.flex-align-center {align-items:center;}
.flex-align-stretch {align-items:stretch;}
.col2 {width:50%;}
.col3 {width:33.3333%;}
.col3-2 {width:66.6667%;}
.col4 {width:25%;}
.col4-3 {width:75%;}
.col5 {width:20%;}
.col5-2 {width:40%;}
.col5-3 {width:60%;}
.col5-4 {width:80%;}
.col6 {width:16.6667%;}
.col6-5 {width:83.3333%;}