@media screen and (max-width: 1024px) {
  .column {
    padding: 0 1.25em;
  }

  .column-double {
    padding: 0 2.5em;
  }

  .more-1024 {
    display: none;
  }

  .less-1024 {
    display: block;
  }

  h4 {
    font-size: 0.79em;
  }

  #skills-container {
    flex-wrap: wrap;
  }

  #skills-container #skills-box {
    width: 80%;
    padding-left: 0;
  }

  #about-container {
    flex-wrap: wrap;
  }
  
  #about-container > p {
    width: 100%;
  }

  #about-container > .about-photo {
    width: 60%;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 768px) {
  .project {
    cursor: default;
  }

  .project-overlay {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  .battery-container {
    height: 70%;
  }
}

@media screen and (max-width: 480px) {
  p {
    font-size: 0.79em;
  }


  #skills-container .skills-box-part {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  #skills-container .skills-box-part > div {
    width: 80%;
    margin-bottom: 1em;
  }
}
