@media screen and (max-width: 768px){
    #about-container{
        height: 80%;
    }
    #about-photo{
        margin-right:0;
    }
}

@media screen and (max-width: 576px){
    h1{
        font-size:1.8rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 450px){
    p{
        font-size: 0.85rem;
    }
}