html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: "Slabo 27px", serif;
  background-color: #434343;
}

.flexc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexr {
  display: flex;
  flex-direction: row;
}

.air {clear:both;height:3em;}
.airmin {clear:both;height:1.5em;}
.airmik {clear:both;height:.75em;}

.separator {
  border-top: 3px dotted #c56913;
}

.less-1024 {
  display: none;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.column{
  padding: 0 2.5em;
}

.column-double{
  padding: 0 5em;
}

.part {
  background-color: #434343;
  min-height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 3.5rem;
  text-shadow: 2px 0.7px 3px #c56913;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 5%;
  border-bottom: 3px solid #c56913;
  text-shadow: 0.7px 0.7px 2px #c56913;
  text-transform: uppercase;
}

h3 {
  margin-top: 50px;
  font-size: 2rem;
  text-shadow: 0.7px 0.7px 2px #c56913;
}

h4 {
  font-size: 1rem;
}

h5 {
  color: #2b2b2b;
  font-size: 15px;
}

h6 {
  color: #bfbfbf;
  font-size: 0.8rem;
  text-transform: lowercase;
}

p {
  color: #ccc;
  margin: 0;
}

/*Navigation*/

.burger {
  width: 40px;
  height: 35px;
  position: fixed;
  border: 0;
  top: 20px;
  right: 20px;
  border-top: 5px solid #fff;
  background: transparent;
  transition: 0.3s transform linear;
  cursor: pointer;
  z-index: 2;
  outline: none;
}

.burger::before,
.burger::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  border-top: 5px solid #fff;
  transform: translateY(10px);
}

.burger::after {
  transform: translateY(25px);
  transition: 0.3s transform linear;
}


.burger.burger-show {
  transform: rotate(45deg) translateY(5px);
  border: none;
}

.burger.burger-show::after {
  transform: rotate(-90deg) translateX(-10px);
}

#nav {
  width: 200px;
  position: fixed;
  background-color: #212121;
  height: 100%;
  top: 0;
  right: -200px;
  border-left: 3px dotted #c56913;
  z-index: 1;
  transition: 1s;
}

#nav.show {
  right: 0;
}

#nav-container {
  margin-top: 50%;
}

.nav-link {
  margin: 15px 0;
  height: 50px;
}

a .nav-link {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0;
  cursor: pointer;
}

.nav-link::after {
  content: "";
  border-bottom: 3px solid #c56913;
  width: 0;
  transition: 0.3s;
  display: inline-block;
}

.nav-link:hover::after {
  width: 100%;
}
.active::after {
  content: "";
  border-bottom: 3px solid #c56913;
  width: 100%;
}

/*Home*/

#top {
  background-image: url("img/starrynight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.top-container {
  color: #fff;
}

/*Skills*/

#skills-container {
  width: 100%;
}

#snake-game {
  background-color: #5c5c5c;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#skills-box {
  height: 100%;
  padding-left: 5em;
}

.skills-heading {
  margin-bottom: 1.5em;
}
.skills-box-part {
  margin-bottom: 2.5em;
}

.skills-icon {
  text-align: center;
  color: #2b2b2b;
  transition: 0.3s;
}

.skills-icon img {
  max-width: 60px;
  width: 100%;
  height: auto;
}

.skills-icon h4 {
  transition: 1s;
  font-size: 0.8em;
}

.battery-container { /* check */
  height: 100%;
  min-width: 25px;
  max-width: 60px;
  border: 2px solid #212121;
  padding: 3px;
  position: relative;
  justify-content: flex-end;
  margin-right: 1em;
}

.battery-head {
  top: -15px;
  height: 15px;
  width: 50%;
  background-color: #212121;
  margin-left: auto;
  margin-right: auto;
}

.battery-part {
  width: 100%;
  margin: 2px 0;
  height: 25%;
  transition: 1s;
}

.battery-green {
  background-color: #434343;
}
.battery-yellow {
  background-color: #434343;
}

.battery-red {
  background-color: #434343;
}

#snake-button-container {
  margin-left: auto;
  margin-right: auto;
}

.snake-button {
  color: #434343;
  font-size: 1.5em;
  text-align: center;
  border: 3px dotted #c56913;
  min-width: 50px;
  max-width: 200px;
  background-color: #fff;
  padding: 30px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.snake-button:nth-child(1) {
  margin-bottom: 15px;
}

.snake-button:nth-child(3) {
  display: none;
}

.snake-button:nth-child(4) {
  margin-top: 15px;
  display: none;
}

/*About*/

.about-photo img {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
  height: auto;
}

.about-bold {
  color: #c56913;
  font-weight: 700;
  cursor: pointer;
}

.about-bold:visited {
  color: #875a31;
  font-weight: 500;
}

/*Projects*/

.projects-container {
  width: 90%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 5px;
}

.project {
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.project-overlay {
  position: absolute;
  z-index: 1;
  background-color: #c56913;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.project-overlay:hover {
  opacity: 0.8;
}

.project:nth-child(1) {
  grid-column: 1 / auto;
  grid-row: 1 / auto;
  background-image: url("img/wojtek3.jpg");
}

.project:nth-child(2) {
  grid-column: 2 / auto;
  grid-row: 1 / auto;
  background-image: url("img/starrynight2.jpg");
}

.project:nth-child(3) {
  grid-column: 1 / auto;
  grid-row: 2 / auto;
  background-image: url("img/starrynight2.jpg");
}

.project:nth-child(4) {
  grid-column: 2 / auto;
  grid-row: 2 / auto;
  background-image: url("img/wojtek3.jpg");
}

.project:nth-child(5) {
  grid-column: 3 / auto;
  grid-row: 1 / 3;
  background-image: url("img/starrynight.jpg");
}

.project-big {
  cursor: default;
}

/*Contact*/

#form-container {
  width: 100%;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#form input {
  color: #5c5c5c;
  height: 50px;
  width: 100%;
  max-width: 650px;
  min-width: 100px;
  padding: 0 15px;
  margin: 3px 0;
  background-color: #212121;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: 0.3s ease;
}

#form input:focus {
  border-bottom: 3px solid #c56913;
}

#form textarea {
  color: #5c5c5c;
  background-color: #212121;
  height: 200px;
  width: 100%;
  max-width: 650px;
  min-width: 100px;
  padding: 8px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
  outline: none;
  resize: none;
  transition: 0.3s ease;
}

#form textarea:focus {
  border-bottom: 3px solid #c56913;
}

#form input[type="submit"] {
  color: #c56913;
  width: 100px;
  border: 3px solid #c56913;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

#form input[type="submit"]:hover {
  background-color: #c56913;
  color: #fffc;
  font-weight: 500;
  justify-content: flex-start;
}

/*Footer*/

#footer {
  background-color: #000;
}

#ficon-container {
  justify-content: center;
  padding: 20px 0;
}

.ficon {
  cursor: pointer;
  height: 60px;
  margin: 0 15px;
  width: 60px;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

a:nth-child(1) .ficon {
  background-image: url("img/animal.png");
}

a:nth-child(2) .ficon {
  background-image: url("img/insta.png");
}

a:nth-child(3) .ficon {
  background-image: url("img/linkedin.png");
}

a:nth-child(1):hover .ficon {
  background-image: url("img/animal2.png");
}

a:nth-child(2):hover .ficon {
  background-image: url("img/insta2.png");
}

a:nth-child(3):hover .ficon {
  background-image: url("img/linkedin2.png");
}

h5 span {
  color: #c56913;
}