html, body {
  height:100%;
}

a:hover{
	text-decoration: none;
}

body {
  margin:0px;
  font-size:100%;
	font-family: 'Slabo 27px', serif;
	background-color: #cccccc00;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.air {clear:both;height:10px;}

.separator{
	border-top:3px dotted #c56913;

}

h1{
	font-size: 3.5rem;
	text-shadow: 2px .7px 3px #c56913;
	text-align:center;
}

h2{
	color:#fff;
	font-size: 3rem;
	margin-bottom:8%;
	border-bottom:3px solid #c56913;
	text-shadow: .7px .7px 2px #c56913;
	text-transform: uppercase;
}

h3{
	margin-top:50px;
	font-size: 2rem;
	text-shadow: .7px .7px 2px #c56913;
}

h4{
	font-size:1rem;
}

h5{
	color: #2b2b2b;
	font-size:15px;
}

p{
	color:#ccc;
}

/*Navigation*/

#burger{
	width:40px;
	height: 35px;
	position: fixed;
	border:0;
	top:20px;
	right:20px;
	border-top: 5px solid #fff;
	background: transparent;
	transition: .3s transform linear;
	cursor: pointer;
	z-index: 2;
}

#burger::before, #burger::after{
	position: absolute;
	top:0;
	left:0;
	content: '';
	width:100%;
	border-top:5px solid #fff;
	transform: translateY(10px);
}

#burger::after{
	transform: translateY(25px);
	transition: .3s transform linear;
}

#burger:focus{
	transform: rotate(45deg) translateY(5px);
	border:none;
	cursor: default;
}

#burger:focus::after{
	transform: rotate(-90deg) translateX(-10px);
}

button:focus { outline:none }

#nav{
	width:200px;
	position: fixed;
	background-color: #212121;
	height: 100%;
	top:0;
	right:-200px;
	border-left: 3px dotted #c56913;
	z-index: 1;
	/*display:none;*/
	transition: 1s;
}

.show{
	right:0;
}

#nav-container{
	margin-top:50%;
}

.nav-link{
	margin:15px 0 ;
	height:50px;
}

.nav-link a{
	color:#fff;
	font-size: 1.5rem;
	margin-bottom:0;
	cursor: pointer;
}

.nav-link::after{
	content:'';
	border-bottom: 3px solid #c56913;
	width:0;
	transition: .3s;
	display:inline-block;
}

.nav-link:hover::after{
	width:100%;
}
.active::after{
	content:'';
	border-bottom: 3px solid #c56913;
	width:100%;
}

/*Home*/


#top {
	height:100%;
	background-image: url("img/starrynight.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#top-middle{
	color:#fff;
	padding:20px;
}

/*Skills*/

#snake{
	background-color: #414141;
	height: 100%;
	position: relative;
	padding: 0;
}

#snake-button{
	color:#434343;
	font-size: 2em;
	text-align: center;
	border: 3px dotted #c56913;
	min-width: 50px;
	max-width:300px;
	padding:30px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-color: #fff;
	cursor: pointer;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

/*About*/

#about{
	background-color:#414141;
	height: 100%;
}

#about-container{
	height: 60%;
}

#about-photo{
	width:40%;
}

img{
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-bold{
	color:#c56913;
	font-weight: 700;
	cursor: pointer;
}

.about-bold:visited{
	color:#875a31;
	font-weight:500;
}

/*Projects*/

#projects{
	background-color: #414141;
	height: 100%;
}

#projects-container{
	display:flex;
	flex-direction: row;
	width:100%;
}

#projects-container-small{
	width:50%;
	
}

/*Contact*/

#form{
	background-color: #434343;
	height: 100%;
	color:#5c5c5c;
}

#form-container{
	width:100%;
}

#form input{
	color:#5c5c5c;
	height: 50px;
	width:100%;
	max-width:650px;
	min-width:100px;
	padding: 0 15px;
	margin:3px 0;
	background-color: #212121;
	border: none;
	border-radius:3px;
	outline: none;
	transition: .3s ease;
}

#form input:focus{
	border-bottom:3px solid #c56913;
}

#form textarea{
	color:#5c5c5c;
	background-color: #212121;
	height: 200px;
	width:100%;
	max-width:650px;
	min-width:100px;
	padding: 8px 15px;
	margin:5px 0;
	border: none;
	border-radius:3px;
	outline: none;
	resize: none;
	transition: .3s ease;
}

#form textarea:focus{
	border-bottom:3px solid #c56913;
}

#form input[type=submit]{
	color:#c56913;
	width:100px;
	border:3px solid #c56913;
	background-color: transparent;
	cursor: pointer;
	transition: .3s;
	border-radius:5px;
}

#form #submit-button:hover{
	background-color: #c56913;
	color:#fffc;
	font-weight: 500;
	justify-content: flex-start;
}

/*Footer*/

#footer{
	background-color: #000;
	height: 150px;
}

#ficon-container{
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding:20px 0;
}

.ficon{
	cursor: pointer;
	height:60px;
	margin:0 15px;
	width:60px;
	background-position: center;
	background-size: cover;
	transition: .3s;
}

a:nth-child(1) .ficon{
	background-image: url("img/animal.png");
}

a:nth-child(2) .ficon{
	background-image: url("img/insta.png");
}

a:nth-child(3) .ficon{
	background-image: url("img/linkedin.png");
}

a:nth-child(1):hover .ficon{
	background-image: url("img/animal2.png");
}

a:nth-child(2):hover .ficon{
	background-image: url("img/insta2.png");
}

a:nth-child(3):hover .ficon{
	background-image: url("img/linkedin2.png");
}

h5 span{
	color:#c56913;
}