@import 'variable.scss';

.form-container {
  width: 100%;

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  input {
    color: #fff;
    height: 50px;
    width: 100%;
    max-width: 650px;
    min-width: 100px;
    padding: 0 0.79em;
    margin: 3px 0;
    background-color: #212121;
    border-radius: 3px;
    outline: none;
    transition: 0.3s ease;
    border: none;

    &:focus {
      border-bottom: 3px solid $orange;
    }
  }

  textarea {
    color: #fff;
    background-color: #212121;
    height: 200px;
    width: 100%;
    max-width: 650px;
    min-width: 100px;
    padding: 0.4em 0.79em;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    outline: none;
    resize: none;
    transition: 0.3s ease;

    &:focus {
      border-bottom: 3px solid $orange;
    }
  }

  input[type='submit'] {
    color: $orange;
    width: 100px;
    border: 3px solid $orange;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;

    &:disabled {
      cursor: not-allowed;
      color: rgba($orange, 0.6);
      border-color: rgba($orange, 0.6);
    }

    &:hover:not(:disabled) {
      background-color: $orange;
      color: #fffc;
      font-weight: 500;
      justify-content: flex-start;
    }
  }
}
